In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl

In [2]:
pd_data=pd.read_excel('Visits and Sales.xlsx')

In [4]:
pd_data.head()

   GRP  INDIV  LRG-GRP  Other  Visits  AFSaleWM
0   84     54       16    1.0     155   1244.75
1   65     35       23    5.0     128   2065.26
2   60     28       10    1.0      99   2150.01
3   52     44       20    3.0     119   4656.02
4   17     19       10    5.0      51   7257.45

In [14]:
pd_data.columns[pd_data.isnull().any()].tolist()

['Other']

In [15]:
pd_data['Other']=pd_data['Other'].fillna(0)

In [16]:
pd_data.isnull().values.any()

False

In [40]:
S=pd_data.drop(['AFSaleWM','Visits','index'], axis=1).apply(lambda x: x.corr(pd_data.AFSaleWM))

In [41]:
S[S.abs().sort_values(ascending=False).index]

LRG-GRP    0.291494
Other      0.280644
INDIV      0.232802
GRP        0.033182
dtype: float64

In [42]:
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression  
from sklearn import metrics
import numpy as np
import matplotlib.pyplot as plt

In [33]:
X=pd_data.loc[:,('INDIV','GRP','LRG-GRP','Other')] 
y=pd_data.loc[:,'AFSaleWM'] 
X_train,X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2,random_state=100)

In [34]:
linreg = LinearRegression()
model=linreg.fit(X_train, y_train)
print (model)

LinearRegression()

In [35]:
print (linreg.intercept_)

16738.234224613276

In [36]:
print (linreg.coef_)

[ 481.50349109 -128.01493156  315.18080221 1400.17541207]

In [37]:
feature_cols = ['INDIV','GRP','LRG-GRP','Other']
B=list(zip(feature_cols,linreg.coef_))
print(B)

[('INDIV', 481.5034910893165), ('GRP', -128.01493155687345), ('LRG-GRP', 315.1808022141719), ('Other', 1400.1754120733133)]